#!/usr/bin/make -f

# verbosity
#export DH_VERBOSE=1

# we don't need anything special. Just import the cmake stuff
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

# I can't figure out how to get doxygen to work in an out-of-source
# build. So, I'm giving up, and doing the build in source.
# gross, but more pragmatic
DEB_BUILDDIR = $(DEB_SRCDIR)

